@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<a href="https://www.linkedin.com/in/antonio-cueva-fern%C3%A1ndez-25191712a">
    
    <i class="fa fa-linkedin"></i>
    Antonio Cueva Fernández -
    Software Engineer.
</a>
